In [16]:
import os
import sys
import numpy as np
import pandas as pd
import datetime as dt
import utilities as util
import yaml
with open("/Users/peteraltamura/Documents/GitHub/liteSaber/data/configuration.yaml", "rb") as c:
    CONFIG = yaml.load(c)
pd.options.display.max_columns = None

/anaconda2/envs/litesaber_jupyter/lib/python3.6/site-packages/ipykernel_launcher.py:9: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  if __name__ == '__main__':

In [20]:
# Parameters
dd = dt.datetime.now().strftime("%Y_%m_%d")
print(dd)

2019_09_18

# Assumptions
- We will calculate this for top 50 batters every day
- We have the starters for today

# Stats Sets We Need
- batter recent performance
    - batter_saber_team.parquet
- batter performance against pitcher
    - innings.parquet
- batter performance against opponent bullpen
    - innings.parquet
- starter recent performance
    - pitcher_saber_team.parquet
- starter avg innings per game
    - pitcher_saber_team.parquet
    - innings.parquet
    - pitching.parquet

# Better Recent Performance

In [32]:
path = CONFIG.get('paths').get('batter_saber')
dd_list = [p for p in os.listdir(path) if dd in p]
df_br = pd.concat(
    objs=[pd.read_parquet(path+"{}/".format(dd)+'batter_saber_team.parquet') for dd in dd_list],
    axis=0
)

In [33]:
df_br['flag'] = pd.isnull(df_br).any(axis=1)
df_br = df_batter_recent.loc[df_batter_recent['flag'] == False, :]

# Batter Performance Against Pitcher This Year

In [69]:
path = CONFIG.get('paths').get('normalized')
years = [x.split("_")[1][:4] for x in os.listdir(path)]
years = list(set(years))
df_inning_at = []
for yr in years:
    dd_list = [x for x in os.listdir(path) if yr in x]
    df_bm_all = pd.concat(
        objs=[pd.read_parquet(path+"{}/".format(dd)+'innings.parquet') for dd in dd_list 
              if "innings.parquet" in os.listdir(path+"{}/".format(dd))],
        axis=0
    )
    cols = ['atbat_batter', 'atbat_event', 'atbat_event_num', 'atbat_pitcher', 'game_id', 'game_date']
    df_bm_all = df_bm_all.loc[:, cols]
    df_bm_all['year'] = yr
    df_bm_all = df_bm_all.drop_duplicates(inplace=False)
    df_inning_at.append(df_bm_all)
df_bm_all = pd.concat(df_inning_at, axis=0)
print(df_bm_all.shape)

(976495, 84)

In [71]:
cols = ['atbat_batter', 'atbat_event', 'atbat_event_num', 'atbat_pitcher', 'game_id', 'game_date']
df_bm = df_bm_all.loc[df_bm_all['year'] == max(df_bm_all['year']), :]
df_bm = df_bm.loc[:, cols]
df_bm = df_bm.drop_duplicates(inplace=False)
print(df_bm[cols].shape)
df_bm.loc[:, 'hr_flag'] = df_bm.atbat_event.str.replace(" ", "").str.lower().str.contains('homerun').astype(float)

df_bm_metrics = df_bm.groupby(
    by=['atbat_batter', 'atbat_pitcher'],
    as_index=False
).agg({'game_id': 'count',
       'hr_flag': np.mean})

/anaconda2/envs/litesaber_jupyter/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

/anaconda2/envs/litesaber_jupyter/lib/python3.6/site-packages/pandas/core/indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

(190546, 6)

In [73]:
df_bm_metrics = df_bm_metrics.sort_values(by=['game_id'], ascending=False, inplace=False)
df_bm_metrics.head()

      atbat_batter atbat_pitcher  game_id   hr_flag
18468       516782        571945       19  0.000000
54176       605137        571945       19  0.105263
67917       624428        571945       18  0.000000
7551        456715        500779       18  0.000000
29672       544725        641745       18  0.000000

# Batter Performance Against Pitcher All-Time

In [80]:
df_bm_alltime = df_bm_all.loc[df_bm_all['year'] != max(df_bm_all['year']), :]
df_bm_alltime.loc[:, 'hr_flag'] = df_bm_alltime.atbat_event.str.replace(" ", "").str.lower().str.contains('homerun').astype(float)

df_bm_alltime_metrics = df_bm_alltime.groupby(
    by=['atbat_batter', 'atbat_pitcher'],
    as_index=False
).agg({'game_id': 'count',
       'hr_flag': np.mean})

In [84]:
df_bm_all_metrics = df_bm_all_metrics.sort_values(by=['hr_flag'], ascending=False, inplace=False)
df_bm_all_metrics.head()

       atbat_batter atbat_pitcher  game_id   hr_flag
176099       641355        554430       11  0.363636
107544       572233        477132       11  0.363636
53985        502517        543294       11  0.363636
1667         405395        605164       11  0.363636
164          134181        571760       12  0.333333

# Batter Performance Against Opponent Bullpen This Year